<div class="">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button color="primary" matTooltip="Atras" [routerLink]="'/user'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div fxLayout="column" fxLayoutAlign="start start"
                    >
                    <div class="h2" *ngIf="isEditMode">
                        Editar usuario C.I {{user?.ci}}
                    </div>
                    <div class="h2" *ngIf="!isEditMode">
                        Nuevo usuario
                    </div>
                 
                </div>
            </div>
            <!-- / APP TITLE -->
            <button mat-raised-button color="primary"  [disabled]="!userForm || userForm?.invalid"
                (click)="saveUser()">
                <span>Guardar</span>
            </button>
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">

            <div class="content">
                <form *ngIf="!isEditMode || isEditMode && user" name="userForm" [formGroup]="userForm"
                    class="w-100-p" fxLayout="column" fxFlex>
                    <div class="tab-content p-24" >
                        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <mat-form-field fxFlex appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>C.I </mat-label>
                                <input matInput type="number" placeholder="C.I" name="ci"
                                    formControlName="ci" (change)="checkField('ci',$event)" required>
                                    <mat-error *ngIf="userForm.get('ci')?.invalid">{{getErrorMessage("ci")}}</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Correo" type="email" name="email" formControlName="email" (change)="checkField('email',$event)" required>
                                <mat-error *ngIf="userForm.get('email')?.invalid">{{getErrorMessage("email")}}</mat-error>
                              
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Nombres</mat-label>
                                <input matInput placeholder="Nombres" name="names" formControlName="names"
                                    required>
                                    <mat-error *ngIf="userForm.get('names')?.invalid">{{getErrorMessage("names")}}</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Apellidos</mat-label>
                                <input matInput placeholder="Apellidos" name="surnames" formControlName="surnames"
                                    required>
                                    <mat-error *ngIf="userForm.get('surnames')?.invalid">{{getErrorMessage("surnames")}}</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Teléfono</mat-label>
                                <input type="number" matInput placeholder="Teléfono" name="phoneNumber" formControlName="phoneNumber"
                                    required>
                                    <mat-error *ngIf="userForm.get('phoneNumber')?.invalid">{{getErrorMessage("phoneNumber")}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>