<div class="">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="end center" fxLayout.gt-sm="row"
            >
            <!-- ADD BUTTON -->
            <button mat-raised-button color="primary" [routerLink]="'/user/create'" >
                <span>Nuevo Usuario</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table class="products-table" #table [dataSource]="dataSource" matSort>        
                <!-- C.I Column -->
                <ng-container matColumnDef="ci">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>C.I</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.ci}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.email}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Names Column -->
                <ng-container matColumnDef="names">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.names}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Surname Column -->
                <ng-container matColumnDef="surnames">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.surnames}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.phoneNumber}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs></mat-header-cell>
                    <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
                        <button mat-icon-button aria-label="edit"    matTooltip="Editar" routerLink="/user/{{user._id}}/edit" >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="remove"   matTooltip="Eliminar" (click)="delete(user._id)" >
                            <mat-icon>delete</mat-icon>
                        </button>

                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let user; columns: displayedColumns;" class="product" matRipple>
                </mat-row>

            </mat-table>
            <mat-paginator #paginator [pageIndex]="0" [length]="dataSource?.filteredData.length" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>